* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

/* ---- HEADER ----- */

header {
    font-size: 18px;
    background-color: #1F2937;
}

.header-cont {
    max-width: 1200px;
    margin: 0 auto;
}

.header-nav, .header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    padding: 2rem;
}

.header-info {
    padding: 2rem 2rem 6rem;
}

.hero-img {
    display: block;
    padding-left: 2rem;
    width: 1200px;
    max-width: 100%;
}

@media screen and (max-width: 700px) {
    .hero-img {
        width: 0;
        height: 0;
    }
}

.hero-text-cont {
    align-self: flex-start;
}

h3.logo, h1.header {
    color: #F9FAF8;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 12px;
}

nav a {
    text-decoration: none;
    color: #E5E7EB;
    margin-left: 20px;
}

.logo-cont {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-icon {
    max-width: 26px;
    flex-shrink: 0;
}

a:hover {
    color: #ffffff;
    font-weight: bold;
}

h1.header {
    font-size: 48px;
    font-weight: bolder;
}

.header {
    margin-bottom: 8px;
}

p.header {
    font-size: 18px;
    color: #E5E7EB;
}

/* ----- MAIN - TOP SECTION ----- */
.main-top {
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 1000px;
    margin: 0 auto;
}

.main-top-cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 1rem;
}

.article {
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
    padding: 0 0.4rem 2rem;
}

h2.main-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding-bottom: 2rem;
}

.article p {
    font-size: 18px;
    color: #1F2937;
    margin-top: 5px;
}

img.preview {
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 8px;
}

img.preview:hover {
    border: none;
    cursor: pointer;
}

/* ----- MAIN - QUOTE SECTION ----- */

.main-quote {
    background-color: #E5E7EB;
    padding: 6rem 2rem 5rem;
}

.quote, .author {
    max-width: 1000px;
    margin: 0 auto;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.author {
    font-weight: bold;
    text-align: right;
    padding-top: 0.5em;
    padding-right: 2rem;
    font-size: 26px;
}

/* ----- MAIN - BOTTOM SECTION ----- */
.main-bot {
    margin: 4rem 2rem;
}

.blue-container {
    display: flex;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 2rem;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    border-radius: 8px;
    color: #E5E7EB;
}

div.main-bot-text > h3 {
    font-size: 24px;
}

div.main-bot-text {
    padding-right: 1rem;
}

div.main-bot-text > p {
    font-size: 18px;
}


/* ----- FOOTER ----- */
footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    font-size: 18px;
    padding: 3rem 0;
}


/* ----- BUTTONS ----- */

.read-more {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.blue-cont-button {
    border: 2px solid #E5E7EB;
}

.read-more:hover {
    background-color: #1871ff;
}

.read-more:active {
    background-color: #5a95f5;
}